.swal2-popup, .swal2-content {
    font-size: 14px !important;
}
/*drop file*/

.dropfile {
    border: 2px dashed #ccc;
    width: 100%;
    height: 230px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .dropfile .df-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 16px;
    min-height: 100px;
  }
  
  .dropfile .df-preview .df-image {
    border-radius: 10px !important;
    overflow: hidden;
    position: relative;
    display: block;
    z-index: 10;
    margin-bottom: 3px;
  }
  
  .dropfile .df-preview .df-image img {
    height: 80%;
    width: auto;
  }
  
  .dropfile .df-message {
    text-align: center;
    font-weight: 600!important;
    margin-top: 30px;
  }
  /*End drop file*/

  /*Image uploader*/
  .fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    direction: ltr;
    cursor: pointer;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  /* Fixes for IE < 8 */
  @media screen\9 {
    .fileinput-button input {
      filter: alpha(opacity=0);
      font-size: 100%;
      height: 100%;
    }
  }

  .image-upload-preview {
    margin-top: 10px;
  }
  
  .image-upload-preview .item {
    margin: 5px 10px 5px 0;
    display: inline-block;
    float: left;
  }
  
  .image-upload-preview .item img {
    height: 70%;
    width: auto;
  }
  
  .image-upload-preview .item span {
    position: relative;
    cursor: pointer;
    top: 20px;
  }
  
  .image-upload-preview .progress {
    margin-top: 10px;
  }

  .image-holder .btn-del-img {
    line-height: 30px;
  }
  
  .image-holder .btn-del-img a {
    cursor: pointer;
  }
  /*End image uploader*/