<style>
    .has-danger {
        border-color: red; 
    }

    .control-label.required:after { 
        color: #d00;
        content: "*";
        position: absolute;
        margin-left: 5px;
        top:7px;
    }
</style>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Quản lý loại hội thoại
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i> Quản lý loại hội thoại</a>
        </li>
        <li class="active">Cập nhật thông tin loại hội thoại</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="box box-info login_custom">
            <div class="box-header with-border">
                <h3 class="box-title">{{ Id == 0 ? 'Thêm  mới thông tin loại hội thoại' : 'Cập nhật thông tin loại hội thoại' }}</h3>
                <small>
                    <i class="fa fa-arrow-circle-left"></i>
                    <a routerLink="/conversationtype">back to conversationtype list</a>
                </small>
                <div class="pull-right">
                    <!-- <button type="submit" class="btn btn-default" routerLink="/conversationtype">Trờ về</button> -->
                    <button type="submit" name="save" class="btn bg-blue" (click)="Save(0)">
                        <i class="fa fa-floppy-o"></i>
                        Save
                    </button>
                    <button type="submit" name="save-continue" class="btn bg-blue" (click)="Save(1)">
                        <i class="fa fa-floppy-o"></i>
                        Save and Continue Edit
                    </button>
                    <!-- <button type="submit" class="btn btn-info" (click)="Save()">Save</button> -->
                </div>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-offset-3">
                            <div class="form-group">
                                <label for="Name" class="control-label">Name</label>

                                <input type="text" [(ngModel)]="model.Name" required name="Name" 
                                #Name="ngModel" [ngClass]="{
                                    'has-danger': Name.invalid && Name.dirty,
                                    'has-success': Name.valid && Name.dirty
                                  }" class="form-control" id="Name" placeholder="Nhập tên loại hội thoại">
                            
                                <div *ngIf="Name.invalid && ( Name.dirty || Name.touched )" class="alert alert danger">
                                    <div style="color: red;" *ngIf="Name.errors.required">Name is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->